@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
      url("../fonts/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.header {
    background-color: #635854;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}

.navbar-item {
    margin-right: 80px;
}

.navbar-item:last-child {
    margin-right: 0;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    padding: 16px 0;
    transition: 0.2s;
    display: block;
    width: 134px;
}

.navbar-link:hover {
    background: #3596F5;
}

.navbar-link-active {
    background: #3596F5;
}

.navbar-contacts {
    display: block;
    white-space: pre-line;
    text-align: right;
}

.navbar-text {
    margin-bottom: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
}

.navbar-phone {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.main-wrapper {
    padding-top: 58px;
}

.home-image path {
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
}

.home-image path:hover {
    opacity: 1;
}

path.curren-floor {
    opacity: 1;
}

.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 66px 0;
}

.main-title {
    text-transform: uppercase;
    font-size: 37px;
    line-height: 44px;
    font-family: "Bebas Neue";
    font-weight: normal;
    color: #635854;
    margin: 0;
}

.couner-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-botton {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.arrow-down {
    transform: rotate(180deg);
}

.counter {
    color: #635854;
    font-size: 124px;
    font-family: "Bebas Neue";
    margin-top: 20px;
}

.button-primary {
    padding: 16px 36px;
    background: #3596F5;
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer {
    background-color: #D7D7D7;
    padding: 50px 0;
    margin-top: 100px;
    border-top: 4px solid #3596F5;
}

.footer > .container {
    justify-content: space-between;
    align-items: center;
}

.left-right {
    display: flex;
    align-items: center;
}

.logo-footer {
    margin-right: 38px;
}

.left-right > .navbar-contacts {
    text-align: left;
}

.left-right > .navbar-contacts > .navbar-text {
    color: #635854;
}

.left-right > .navbar-contacts > .navbar-phone {
    color: #635854;
}

.social-link {
    text-decoration: none;
    margin-right: 15px;
}

.social-link:last-child {
    margin-right: 0;
}

.additional-info {
    margin-right: -20px;
}

.additional-link {
    line-height: 19px;
    text-decoration-line: underline;
    color: #635854;
    font-family: "Roboto";
    margin-right: 20px;
}

.additional-link:hover {
    text-decoration: none;
}
